<ion-row class="ion-justify-content-center">
  <div #photoContainer>
    <img [ngStyle]="{'display': !displayPhotoWithFilter ? 'block' : 'none'}"
         [src]="photoSrc"
         (load)="loaded()"
         alt="Photo without filter"
         crossOrigin="Anonymous"
         #photoWithoutFilter/>
    <img [ngStyle]="{'display': displayPhotoWithFilter ? 'block' : 'none'}"
         (load)="loaded()"
         alt="Photo with a filter"
         crossOrigin="Anonymous"
         #photoWithFilter/>
  </div>
</ion-row>
<ion-row class="ion-justify-content-start">
  <ion-button (click)="applyRandomFilter()" style="width: 180px">
    <ion-icon slot="start" name="color-filter-outline"></ion-icon>
    Random filter
  </ion-button>
  
  <ion-select value="notifications" interface="popover" [(ngModel)]="currentFilterName" (ionChange)="applyFilter()">
    <ion-select-option value="noFilter">No filter</ion-select-option>
    <ion-select-option *ngFor="let filter of filterNames" [value]="filter">{{filter}}</ion-select-option>
  </ion-select>

</ion-row>
