<ion-row class="ion-justify-content-center" *ngIf="cropping">
    <image-cropper
            [maintainAspectRatio]="false"
            [imageURL]="photoSrc"
            (imageCropped)="cropped($event)"
            [ngStyle]="{'min-height': photoHeightPx + 'px'}"
    ></image-cropper>
    <ion-button (click)="cancelCrop()" size="auto" color="danger">
        Cancel
    </ion-button>
    <ion-button (click)="okCrop()" size="auto" color="success">
        Ok
    </ion-button>
</ion-row>
<ion-row class="ion-justify-content-start">
    <app-lock-button buttonName="cropper" style="width: 200px" (clicked)="startCrop()" *ngIf="!cropping">
        <ion-icon slot="start" name="crop-outline"></ion-icon>
        Crop
    </app-lock-button>
</ion-row>
