/* Sets the containers height and width */
.container {
  height: 100%;
  width: 50px;
}

.background {
  fill: lightgray;
  stroke: none;
}

.progression {
  fill: currentColor;
  transform-origin: top;
  transition: 1s linear all;
}

.progression.green {
  fill: rgb(65, 184, 131);
}

.progression.orange {
  fill: orange;
}

.progression.red {
  fill: orangered;
}


