<div class="container">
  <svg class="svg" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
    <g class="group">
      <mask id="mask">
        <rect
          fill="white"
          height="100%"
          width="100%"
          rx="20"
          ry="20" />
      </mask>
      <rect
        #background
        class="background"
        height="100%"
        width="100%"
        mask="url(#mask)" />
      <rect
        #progression
        class="progression {{remainingPathColor}}"
        height="1%"
        width="100%"
        mask="url(#mask)"/>
    </g>
  </svg>
</div>
