<ion-header>
	<ion-toolbar color="tertiary">
		<ion-title>Shake Your Album !</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'border-color': ionContentBorder}">
	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<app-users-online *ngIf="!albumSessionStarted"></app-users-online>

			<ion-button *ngIf="!albumSessionStarted" (click)="startAlbumSession()">
				Start album session
			</ion-button>

			<ion-button *ngIf="albumSessionStarted" (click)="resetAlbumSession()">
				Reset album session
			</ion-button>
		</ion-row>
	</ion-grid>

	<app-vote [photoSrc]="photoSrc"
			  (upVote)="onUpVote()"
			  (downVote)="onDownVote()"
			  (noVote)="onNoVote()"
			  *ngIf="albumSessionStarted && !photoKept">
	</app-vote>

	<app-photo-editor [photoSrc]="photoSrc" *ngIf="albumSessionStarted && photoKept"></app-photo-editor>

	<app-test></app-test>

</ion-content>
