<ion-header>
	<ion-toolbar color="tertiary">
		<ion-title>Shake Your Album!</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'border-color': ionContentBorder}">
	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col size="12" *ngIf="!albumSessionStarted && !userConnected">
				<ion-item>
					<ion-label position="floating">Your name</ion-label>
					<ion-input required (ionChange)="loginChanged($event)"></ion-input>
				</ion-item>
			</ion-col>

			<ion-col size="auto" *ngIf="!albumSessionStarted && !userConnected" >
				<ion-button color="success" (click)="connect()">
					Connect
				</ion-button>
			</ion-col>

			<ion-col size="12" *ngIf="!albumSessionStarted && userConnected">
				<app-connected-users></app-connected-users>
			</ion-col>

			<ion-col size="auto" *ngIf="!albumSessionStarted && userConnected">
				<ion-button (click)="startAlbumSession()">
					Start album
				</ion-button>
			</ion-col>
			<img style="position: absolute; bottom: 5px" src="/assets/album.png" *ngIf="!albumSessionStarted">

			<ion-col size="auto" *ngIf="albumSessionStarted">
				<ion-button color="warning" (click)="resetAlbumSession()">
					Reset album
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<app-vote (upVote)="onUpVote()"
			  (downVote)="onDownVote()"
			  (noVote)="onNoVote()"
			  *ngIf="albumSessionStarted && !photoKept">
	</app-vote>

	<app-photo-editor *ngIf="albumSessionStarted && photoKept"></app-photo-editor>

</ion-content>
