ion-content {
  display: flex;
  flex-direction: column;
  border: solid 10px rgba(0, 0, 0, 0);
}

ion-toggle {
  --background: grey;
  --background-checked: grey;

  --handle-background: lightgreen;
  --handle-background-checked: orangered;
}
