.photo-kept, .photo-not-kept {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	text-align: center;
	font-size: 5em;
	background-color: lightgreen;
	color: white;
	padding: 20px;
	border-radius: 5%;
}

.photo-not-kept {
	background-color: orangered;
}