<ng-container *ngIf="!albumSessionStarted">
    There are currently <strong>{{users}}</strong> users online.
    <button (click)="startAlbumSession()">Start album session</button>
</ng-container>

<ng-container *ngIf="albumSessionStarted && photoSrc">
    <img [ngClass]="{'visibility': currentFilterApplied ? 'visible' : 'hidden'}"
         *ngIf="photoSrc && albumSessionStarted"
        (load)="imageLoaded()" alt="Album Image" crossOrigin="Anonymous" #albumImage id="currentPhoto" />
    <app-shake-bar (photoKept)="voteFinished($event)" *ngIf="!photoKept"></app-shake-bar>
</ng-container>
