<ng-container *ngIf="!albumSessionStarted">
    <button class="button3d" (click)="startAlbumSession()">Start album session</button>
</ng-container>

<ng-container *ngIf="albumSessionStarted && photoSrc">
    <img [ngClass]="{'visibility': currentFilterApplied ? 'visible' : 'hidden'}"
         *ngIf="photoSrc && albumSessionStarted"
        (load)="imageLoaded()" alt="Album Image" crossOrigin="Anonymous" #albumImage id="currentPhoto" />
    <app-shake-bar (photoKept)="voteFinished($event)" *ngIf="!photoKept"></app-shake-bar>
</ng-container>

<div class="photo-kept" [@visibleHidden]="photoKeptMessageAnimation">
    Photo gardée
</div>
<div class="photo-not-kept" [@visibleHidden]="photoNotKeptMessageAnimation">
    Photo rejetée
</div>
